h2 {
  margin-left: 20px;
}

h5 {
  margin-left: 20px;
}

#signature-header {
  text-align: center;
}


.page-name {
  display: flex;
}

.page-name > h1 {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 6em;
  text-align: center;
}
.login-form {
  text-align: center;
}

.scrollit {
    overflow:scroll;
    height:140px;
}

.login-wrapper{
float: left;
background: #e0e0e0;
border-radius:6px;
-moz-border-radius:6px; /* Firefox 3.6 and earlier */
border: darkgreen solid 1px;
}
@media screen and (min-width: 1200px){
.login-wrapper{
width: 40%;
margin: 10% 0 0 30%;
padding: 1%;
background: #e0e0e0;
border-radius:6px;
-moz-border-radius:6px; /* Firefox 3.6 and earlier */
border: darkgreen solid 1px;
}
}
@media screen and (max-width: 1200px){
.login-wrapper{
width: 40%;
margin: 10% 0 0 30%;
padding: 1%;
background: #e0e0e0;
border-radius:6px;
-moz-border-radius:6px; /* Firefox 3.6 and earlier */
border: darkgreen solid 1px;
}
}
@media screen and (max-width: 600px){
.login-wrapper{
width: 80%;
margin: 10% 0 0 30%;
padding: 1%;
background: #e0e0e0;
border-radius:6px;
-moz-border-radius:6px; /* Firefox 3.6 and earlier */
border: darkgreen solid 1px;
}
}
.login-label{
float: left;
width: 70%;
margin: 0 0 0 15%;
padding: 1% 0 0 0;
text-align: center;
}
.login-element{
float: left;
width: 70%;
margin: 0 0 0 15%;
padding: 1% 0 0 0;
text-align: center;
}
.login-button{
float: left;
width: 100%;
margin: 0 0 0 0;
padding: 5% 0 0 0;
text-align: center;
}

.student-course-wrapper{
float: left;
background: #e0e0e0;
border-radius:3px;
-moz-border-radius:3px; /* Firefox 3.6 and earlier */
border: darkgreen solid 1px;
}
@media screen and (min-width: 1200px){
.student-course-wrapper{
width: 40%;
margin: 10% 0 0 30%;
padding: 1%;
background: #e0e0e0;
border-radius:6px;
-moz-border-radius:6px; /* Firefox 3.6 and earlier */
border: darkgreen solid 1px;
}
}
@media screen and (max-width: 1200px){
.student-course-wrapper{
width: 40%;
margin: 10% 0 0 30%;
padding: 1%;
background: #e0e0e0;
border-radius:6px;
-moz-border-radius:6px; /* Firefox 3.6 and earlier */
border: darkgreen solid 1px;
}
}
@media screen and (max-width: 600px){
.student-course-wrapper{
width: 80%;
margin: 10% 0 0 30%;
padding: 1%;
background: #e0e0e0;
border-radius:6px;
-moz-border-radius:6px; /* Firefox 3.6 and earlier */
border: darkgreen solid 1px;
}
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 300px}

/* changed */
.sidenav {
  padding-top: 125px;
  background-color: #fff;
  height: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 20px;
  }
  .row.content {height:auto;}
}

hr{
overflow: visible;
height: 30px;
border-style: solid;
border-color: black;
border-width: 1px 0 0 0;
border-radius: 20px;
}


/* Handling code in the main_student file */
#registeredCourseList {
  list-style-type: none;
  padding-top: 1%;
}
#registeredCourseList li {
  padding-top: 2%;
}
#suggestedScheduleList {
  list-style-type: none;
  padding-top: 1%;
}
#suggestedScheduleList li {
  padding-top:2%;
}
#searchTableCourses {
  list-style-type: none;
  width: 125%;
}
#student-main-jumbotron {
  font-size: 4.5em;
  margin-top: 3%;
  padding-left: 13%;
}
.main-container {
  display: flex;
}
.recommended-schedule-display > h4, .registered-schedule-display > h4 {
  text-align: center;
  font-size: 2em;
}
.recommended-schedule-display > ul > li, .registered-schedule-display > ul > li {
  font-size: 1.3em;
}
.recommended-schedule-display, .registered-schedule-display {
  margin-left: 16.5%;
  border-radius: 6px;
  border: 1px solid darkgreen;
  background: #e0e0e0;
  width: 25%;
}

.recommended-schedule-main-container {
  margin-top: 3.35%;
}
.list-container {
  margin-top: 10%;
  display: flex;
  margin-bottom: 50px;
}
.courseList, .recommended-schedule {
  width: 25%;
  margin-left: 15%;
  background: #e0e0e0;
  border-radius: 6px;
  border: 1px solid darkgreen;
}
#recommended-courseList {
  list-style-type: none;
}
#recommendedSchedule {
  list-style-type: none;
}

#adviser-page-jumbotron {
  font-size: 4.5em;
  margin-top: 3%;
  padding-left: 13%;
}
.adviser-main-container {
  display: flex;
}
.student-list, .add-student {
  width: 25%;
  margin-left: 18.5%;
  background: #e0e0e0;
  border-radius: 6px;
  border: 1px solid darkgreen;
  text-align: center;
}
.student-list > ul {
  text-align: left;
  list-style-type: none;
  margin-left: 25%;
}
.student-list > label {
  margin-top: 2%;
}
.add-student > p {
  margin-top: 2%;
}
#fileInput {
  margin-left: 25%;
}

.register-wrapper{
float: left;
background: #e0e0e0;
border-radius:6px;
-moz-border-radius:6px;
border: darkgreen solid 1px;
}
@media screen and (min-width: 1200px){
.register-wrapper{
width: 40%;
margin: 10% 0 0 30%;
padding: 1%;
background: #e0e0e0;
border-radius:6px;
-moz-border-radius:6px;
border: darkgreen solid 1px;
}
}
@media screen and (max-width: 1200px){
.register-wrapper{
width: 40%;
margin: 10% 0 0 30%;
padding: 1%;
background: #e0e0e0;
border-radius:6px;
-moz-border-radius:6px;
border: darkgreen solid 1px;
}
}
@media screen and (max-width: 600px){
.register-wrapper{
width: 80%;
margin: 10% 0 0 30%;
padding: 1%;
background: #e0e0e0;
border-radius:6px;
-moz-border-radius:6px;
border: darkgreen solid 1px;
}
}
.register-label{
float: left;
width: 70%;
margin: 0 0 0 15%;
padding: 1% 0 0 0;
text-align: center;
}
.register-element{
float: left;
width: 70%;
margin: 0 0 0 15%;
padding: 1% 0 0 0;
text-align: center;
}
.register-button{
float: left;
width: 100%;
margin: 0 0 0 0;
padding: 5% 0 0 0;
text-align: center;
}
