<script src="jquery_sigpad/recommendedScheduleJquery.js"></script>
<link rel="stylesheet" href="css/signature-pad.css">
<link rel="stylesheet" href="/css/ie9.css">
<script src="jquery_sigpad/signature_pad.umd.js"></script>
<script src="jquery_sigpad/signaturePadApp.js"></script>


<div ng-include src = "'partials/advisor_signature_menu.html'"></div>
<div class="container-fluid" style="margin-top:5%">
<div id="signature-header">
  <h2>Sign Here:</h2>

</div>
<div class="adviser-main-container">
  <div id="signature-pad" class="signature-pad">
   <div class="signature-pad--body">
     <canvas></canvas>
   </div>
   <div class="signature-pad--footer">
     <div class="description">Sign above</div>

     <div class="signature-pad--actions">
       <div>
         <button type="button" class="button clear" data-action="clear">Clear</button>
         <button type="button" class="button" data-action="change-color">Change color</button>
         <button type="button" class="button" data-action="undo">Undo</button>

       </div>
       <div>
         <button type="button" class="button save" data-action="save-png">Save as PNG</button>
         <button type="button" class="button save" data-action="save-jpg">Save as JPG</button>
         <button type="button" class="button save" data-action="save-svg">Save as SVG</button>
       </div>
     </div>
   </div>
 </div>
</div>
<div class="container-fluid" style="text-align:center; margin-top: 1%" >
  <a href="#!/student">Advisor Signature Approval</a>
</div>
</div>
