<script src="jquery_sigpad/recommendedScheduleJquery.js"></script>
<link rel="stylesheet" href="css/signature-pad.css">
<link rel="stylesheet" href="/css/ie9.css">
<script src="jquery_sigpad/signature_pad.umd.js"></script>
<script src="jquery_sigpad/signaturePadApp.js"></script>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39365077-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
<div ng-include src = "'partials/advisor_signature_menu.html'"></div>
<div class="container-fluid" style="margin-top:5%">
<div id="signature-header">
  <h2>Set Your Signature Here:</h2>

</div>
<div class="adviser-main-container">
  <div id="signature-pad" class="signature-pad">
   <div class="signature-pad--body">
     <canvas></canvas>
   </div>
   <div class="signature-pad--footer">
     <div class="description">Sign above</div>

     <div class="signature-pad--actions">
       <div>
         <button type="button" class="button clear" data-action="clear">Clear</button>
         <button type="button" class="button" data-action="change-color">Change color</button>
         <button type="button" class="button" data-action="undo">Undo</button>

       </div>
       <div>
         <button type="button" class="button save" data-action="save-png">Save as PNG</button>
         <button type="button" class="button save" data-action="save-jpg">Save as JPG</button>
         <button type="button" class="button save" data-action="save-svg">Save as SVG</button>
       </div>
     </div>
   </div>
 </div>
</div>
<div class="container-fluid" style="text-align:center; margin-top: 1%" >
<button  type="button" ng-click="addImg(img)">Save Signature</button>
</div>
</div>
