<form class="" name="courseRegisterForm" ng-controller="courseCtrl">

    <div class="login-label">
    <label for="course_name">Course Name:</label></div>
    <div class="login-element">
    <input type="text" ng-model="course.course_name" name="course_name"
    placeholder="Course Name" required/></div>


    <div class="login-label">
    <label for="Course Subject">Course Subject:</label></div>
    <div class="login-element">
    <input type="text" ng-model="course.course_subject" name="course_subject"
    placeholder="Course Subject" required/></div>


    <div class="login-label">
    <label for="Course Numeber">Course Number:</label></div>
    <div class="login-element">
    <input type="text" ng-model="course.course_num" name="course_num"
    placeholder="Course Number" required/></div>


    <div class="login-label">
    <label for="Course Title">Course Title:</label></div>
    <div class="login-element">
    <input type="text" ng-model="course.course_title" name="course_title"
    placeholder="Course Title" required/></div>


    <div class="login-label">
    <label for="Course Description">Course Description:</label></div>
    <div class="login-element">
    <textarea row="30" cols="40" type="text" ng-model="course.course_desc" name="course_desc"
    placeholder="Course Desc" required></textarea></div>


    <div class="login-label">
    <label for="Course Identifier">Course Identifier:</label></div>
    <div class="login-element">
    <select size="5" ng-model="course.course_identifier" name="course_identifier"
    placeholder="Course Ident" required>
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select></div>


    <div class="login-button">
    <button ng-disabled="courseRegisterForm.$invalid" ng-click="addCourse()"
    class="form-button" type="submit">Add</button>
    </div>


</form>
