<div ng-include src = "'partials/login_menu.html'"></div>

<div class="page-name jumbotron">
  <h1 id="name"></h1>
</div>

<script type="text/javascript">
var increment = 0;
var txt = 'Registration Consistency Tool';
var speed = 100;

function typeText() {
  if (increment < txt.length) {
    document.getElementById("name").innerHTML += txt.charAt(increment);
    increment++;
    setTimeout(typeText, speed);
  }
}
typeText();
</script>

<div class="login-wrapper" style="margin-bottom:5%; margin-top: -1%">
<h3>Login Here:</h3>

<div>Choose Advior/Student Login</div>
<select ng-model = "users">
    <option value = "advisor"> Advisor
    <option value = "student"> Student
</select>
<hr>
<div ng-switch= "users">
  <div ng-switch-when = "advisor">

      <form class="" ng-controller="loginCtrl">

        <div class="login-label">
        <label for="Email">Advisor Email:</label></div>
        <div class="login-element">
        <input type="text" ng-model="advisor.prof_email" name="username"
        placeholder="Email" required/></div>
        <div class="login-label">
        <label for="password">Password:</label></div>
        <div class="login-element">
        <input type="password" ng-model="advisor.prof_password" name="password"
        placeholder="password" required/></div>

        <div class="login-button">

        <button ng-disabled="advisorRegisterForm.$invalid" ng-click="advisorSignIn()"
          class="form-button" type="submit">Sign In</button>


                </div>

      </form>
  </div>


<div ng-switch= "users">
  <div ng-switch-when = "student">

    <form class="" ng-controller="loginCtrl">

        <div class="login-label">
        <label for="Email">Student Email:</label></div>
        <div class="login-element">
        <input type="text" ng-model="student.student_email" name="username"
        placeholder="Email" required/></div>
        <div class="login-label">
        <label for="password">Password:</label></div>
        <div class="login-element">
        <input type="password" ng-model="student.student_password" name="password"
        placeholder="password" required/></div>

        <div class="login-button">

        <button ng-disabled="advisorRegisterForm.$invalid" ng-click="studentSignIn()"
          class="form-button" type="submit">Sign In</button>


                </div>



    </form>



  </div>

</div>
<!--
<div><a href="#!/student">studentdev</a></div>
<div><a href="#!/advisor">advisordev</a></div> -->
</div>
</div>
