<div ng-include src = "'partials/student_menu.html'"></div>
<!--<script src="jquery_sigpad/jqueryFunctions.js"></script>-->
<script src="jquery_sigpad/recommendedScheduleJquery.js"></script>
<script src="jquery_sigpad/signature_pad.umd.js"></script>
<script src="jquery_sigpad/signaturePadApp.js"></script>
<!-- <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39365077-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script> -->

<div class="container-fluid">

      <hr class="my-4">
    <h3 class="display-4"></h3>

  </div>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <label>Search Courses: <input ng-model="searchText"></label>
    </div>
    <div class="col-sm-8 text-left">
      <h1>Welcome Anthony!</h1>
      <hr>
      <h3 class="text-center">Courses: </h3>
      <div class="scrollit">
      <!-- <table align="center" id="searchTextResults"> -->
  					<!-- <tr><th></th></tr> -->
  				<ul ng-repeat="course in courses | filter:searchText | orderBy: 'course_name'" style="list-style: none; text-align: center;">
    				<li><a ng-click="addToSchedule(course)" >{{course.course_name}} -- {{course.course_title}}</a></li>
						<!-- <td><button type="button" ng-click="addToSchedule(course)">Add</button></td> -->
  			</ul>
			<!-- </table> -->
    </div>
        <hr>

    </div>
    <div class="col-sm-2 sidenav">

    </div>
  </div>
</div>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
    </div>
    <div class="col-sm-4 text-center">

      <h3>Recommended Schedule:</h3>
      <!-- <table class="mytable">
      <tr>
      <td><strong>Courses:</strong></td>
      </tr>
      <tr ng-repeat="course in suggestedSchedule">
          <td>{{course.course_name}}</td>
          <td><button type="button" ng-click="removeFromSchedule(course)">Delete</button></td>
      </tr>
     </table> -->
     <ul ng-repeat="course in suggestedSchedule" id="suggestedScheduleList" style="list-style: none; text-align: center; margin-left: -10%;">
       <li><a ng-click="getCourse(course); removeFromSchedule(course)">{{course.course_name}}</a></li>
     </ul>
     <button type="button" ng-click="saveSchedule(course)">Save</button>
   </div>

    <div class="col-sm-4 text-center">
      <h3>Registered Schedule:</h3>
      <!-- <table class="mytable">
      <tr>
      <td><strong>Courses:</strong></td>
      </tr>
      <tr ng-repeat="course in registeredSchedule">
          <td>{{course.course_name}}</td>
          <td><button type="button" ng-click="removeFromSchedule(course)">Delete</button></td>
      </tr>
     </table> -->
     <ul ng-repeat="course in registeredSchedule" id="registeredCourseList" style="list-style: none; text-align: center; margin-left: -10%;">
       <li><a ng-click="removeFromRegSchedule(course)">{{course.course_name}}</a></li>
     </ul>
     <!--<button type="button" ng-click="saveSchedule(course)">Save</button>-->
  </div>
    <div class="col-sm-2 sidenav">

    </div>
  </div>
</div>

<div class="container-fluid">
<div class="row content">
  <div class="col-sm-2 sidenav">

  </div>
  <div class="col-sm-8 text-left">

    <hr>

    <div class="container-fluid" style="text-align:center; margin-bottom:1%">
      <a data-toggle="modal" data-target="#myModalSig" >Advisor Approval</a>
     </div>


     <div id="myModalSig" class="modal fade" role="dialog">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h4 class="modal-title">Advisor Approval </h4>
           </div>
           <div class="modal-body" style="height: 200px;">
             <div class="row-fluid">
               <div class="col-sm-12">
                 <form id="approveForm" name="approveForm" class="">
                <p>Enter Advisor Pin</p>
                <input id="appId" type="password" placeholder="Pin"/>
                <button ng-click="addSig()" class="form-button"
                type="submit">Add Approval</button>
                </form>
           </div>
           </div>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           </div>
         </div>
       </div>

     </div>

    <div id="signature-pad" class="signature-pad">
     <div class="signature-pad--body">
       <canvas></canvas>
     </div>
     <div class="signature-pad--footer">
       <div class="description">Student Sign above</div>

       <div class="signature-pad--actions">
         <div>
           <button type="button" class="button clear" data-action="clear">Clear</button>
           <button type="button" class="button" data-action="change-color">Change color</button>
           <button type="button" class="button" data-action="undo">Undo</button>

         </div>
         <div>
           <button type="button" class="button save" data-action="save-png">Save as PNG</button>
           <button type="button" class="button save" data-action="save-jpg">Save as JPG</button>
           <button type="button" class="button save" data-action="save-svg">Save as SVG</button>
         </div>
       </div>
     </div>
   </div>

   <div class="container-fluid" style="text-align:center; margin-top: 3%; margin-bottom: 3%" >
   <button  type="button" ng-click="saveSignedSchedule(img)">Save Signatures</button>
 </div>

  </div>
  <div class="col-sm-2 sidenav">

  </div>

</div>
</div>
