<div ng-include src = "'partials/advisor_menu.html'"></div>


<div class="container-fluid">

      <hr class="my-4">
    <h3 class="display-4"></h3>

  </div>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <label>Search Students: <input ng-model="searchText"></label>
    </div>
    <div class="col-sm-8 text-left">
      <h1>Welcome Advisor!</h1>
      <hr>

      <h3 class="text-center">Students: </h3>
      <!-- <table align= "center" id = "searchTextResults">
        <tr><th></th><tr>
          <tr ng-repeat = "student in students | filter:searchText | orderBy: 'last_name'">
          <td><a href="#!advisor/student/{{student._id}}">{{student.last_name}}, {{student.first_name}} </a></td>
          <td> <button type="button" ng-click="getStudentInfo()">View Student</button>
          </tr>
        </table>
         <ul ng-repeat = "student in students | filter:searchText | orderBy: 'last_name'" style="list-style: none; text-align: center;">
          <li>{{student.last_name}}, {{student.first_name}}</li>
        </ul> -->
        <ul style="list-style: none; text-align: center;">
          <li data-toggle="modal" data-target="#myModalAnt">&#x274C; Anthony Cuomo</li>
          <li data-toggle="modal" data-target="#myModalDan">Daniel Dresselhouse</li>
          <li data-toggle="modal" data-target="#myModalChuck">&#x274C; Chuck Zhu</li>
          <li data-toggle="modal" data-target="#myModalJohn">John Smith</li>
          <li data-toggle="modal" data-target="#myModalMon">&#x274C; Monica Mendiburu</li>
        </ul>
    </div>
    <div class="col-sm-2 sidenav">

      <h4>Use the form below to upload a list of students.</h4>
        <form action="/" method="POST" encType="multipart/form-data">
            <input type="file" name="file" accept="*.csv" /><br/><br/>
            <input type="submit" value="Upload Students" />
        </form>
    </div>
  </div>
</div>
<div id="myModalMon" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Monica Mendiburu &#x2757;</h4>
      </div>
      <div class="modal-body" style="height: 200px;">
        <div class="row-fluid">
          <div class="col-sm-6">
        <h4> Recommended Schedule </h4>
        <p>EN 101</p>
        <p>EC 111</p>
        <p>FYS 101</p>
        <p>MA 151</p>
        <p>ENR 110</p>
      </div>
      <div class="col-sm-6">
    <h4> Registered Schedule </h4>
    <p>EN 101</p>
    <p>EC 111</p>
    <p>FYS 101</p>
    <p>&#x274C; CSC 110 </p>
    <p>&#x274C; CSC 110L </p>
  </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>

</div>
<div id="myModalChuck" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Chuck Zhu &#x2757;</h4>
      </div>
      <div class="modal-body" style="height: 200px;">
        <div class="row-fluid">
          <div class="col-sm-6">
        <h4> Recommended Schedule </h4>
        <p>EN 101</p>
        <p>EC 111</p>
        <p>FYS 101</p>
        <p>MA 151</p>
        <p>ENR 110</p>
      </div>
      <div class="col-sm-6">
    <h4> Registered Schedule </h4>
    <p>EN 101</p>
    <p>EC 111</p>
    <p>FYS 101</p>
    <p>MA 151</p>
    <p>&#x274C; MA 205</p>
  </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>

</div>

<div id="myModalAnt" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Anthony Cuomo  &#x2757;</h4>
      </div>
      <div class="modal-body" style="height: 200px;">
        <div class="row-fluid">
          <div class="col-sm-6">
        <h4> Recommended Schedule </h4>
        <p>EN 101</p>
        <p>EC 111</p>
        <p>FYS 101</p>
        <p>MA 151</p>
        <p>ENR 110</p>
      </div>
      <div class="col-sm-6">
    <h4> Registered Schedule </h4>
    <p>EN 101</p>
    <p>EC 111</p>
    <p>FYS 101</p>
    <p>MA 151</p>
    <p>&#x274C; LC 101</p>
  </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>

</div>

<div id="myModalDan" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Daniel Dresselhouse &#x2705; </h4>
      </div>
      <div class="modal-body" style="height: 200px;">
        <div class="row-fluid">
          <div class="col-sm-6">
        <h4> Recommended Schedule </h4>
        <p>EN 101</p>
        <p>EC 111</p>
        <p>FYS 101</p>
        <p>MA 151</p>
        <p>ENR 110</p>
      </div>
      <div class="col-sm-6">
    <h4> Registered Schedule </h4>
    <p>EN 101</p>
    <p>EC 111</p>
    <p>FYS 101</p>
    <p>MA 151</p>
    <p>ENR 101</p>
  </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>

</div>

<div id="myModalJohn" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">John Smith &#x2705; </h4>
      </div>
      <div class="modal-body" style="height: 200px;">
        <div class="row-fluid">
          <div class="col-sm-6">
        <h4> Recommended Schedule </h4>
        <p>EN 101</p>
        <p>EC 111</p>
        <p>FYS 101</p>
        <p>MA 151</p>
        <p>ENR 110</p>
      </div>
      <div class="col-sm-6">
    <h4> Registered Schedule </h4>
    <p>EN 101</p>
    <p>EC 111</p>
    <p>FYS 101</p>
    <p>MA 151</p>
    <p>ENR 101</p>
  </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>

</div>
<!--
 <script type="text/javascript">
  $("ul li:nth-child(even)").css("color", "green");
  $("ul li:nth-child(odd)").css("color", "red");
</script> -->
