<div ng-include src = "'partials/register_menu.html'"></div>

<div class="login-wrapper">
  <h3>Sign Up Here:</h3>
          <div>Choose Advior/Student Login</div>
          <select ng-model = "users">
              <option value = "advisor"> Advisor
              <option value = "student"> Student
          </select>
          <hr>
<div ng-switch= "users">
    <div ng-switch-when = "advisor">

                <form class="" name="advisorRegisterForm" ng-controller="registerCtrl">

                      <div class="login-label">
                      <label for="FirstName">First Name:</label></div>
                      <div class="login-element">
                      <input type="text" ng-model="advisor.first_name" name="username"
                      placeholder="First Name" required/></div>


                      <div class="login-label">
                      <label for="LastName">Last Name:</label></div>
                      <div class="login-element">
                      <input type="text" ng-model="advisor.last_name" name="username"
                      placeholder="Last Name" required/></div>


                      <div class="login-label">
                      <label for="Email">Advisor Email:</label></div>
                      <div class="login-element">
                      <input type="text" ng-model="advisor.prof_email" name="username"
                      placeholder="Email" required/></div>


                      <div class="login-label">
                      <label for="password">Password:</label></div>
                      <div class="login-element">
                      <input type="password" ng-model="advisor.prof_password" name="password"
                      placeholder="password" required/></div>


                      <div class="login-label">
                      <label for="password">Confirm Password:</label></div>
                      <div class="login-element">
                      <input type="password" ng-model="advisor.advisorConfirmPassword" name="password"
                      placeholder="password" required/></div>


                    <div class="login-button">

                    <button ng-disabled="advisorRegisterForm.$invalid" ng-click="advisorSignup()"
                      class="form-button" type="submit">Sign Up</button>


                            </div>
                </form>

              </div>
</div>


<div ng-switch= "users">
            <div ng-switch-when = "student">

              <form class="" name="studentRegisterForm" ng-controller="registerCtrl">

                  <div class="login-label">
                  <label for="FirstName">First Name:</label></div>
                  <div class="login-element">
                  <input type="text" ng-model="student.first_name" name="username"
                  placeholder="First Name" required/></div>


                  <div class="login-label">
                  <label for="LastName">Last Name:</label></div>
                  <div class="login-element">
                  <input type="text" ng-model="student.last_name" name="username"
                  placeholder="Last Name" required/></div>


                  <div class="login-label">
                  <label for="Email">Student Email:</label></div>
                  <div class="login-element">
                  <input type="text" ng-model="student.student_email" name="username"
                  placeholder="Email" required/></div>


                  <div class="login-label">
                  <label for="password">Password:</label></div>
                  <div class="login-element">
                  <input type="password" ng-model="student.student_password" name="password"
                  placeholder="password" required/></div>


                  <div class="login-label">
                  <label for="password">Confirm Password:</label></div>
                  <div class="login-element">
                  <input type="password" ng-model="student.confirmPassword" name="password"
                  placeholder="password" required/></div>


                  <div class="login-button">

            <button ng-disabled="studentRegisterForm.$invalid" ng-click="studentSignup()"
             class="form-button" type="submit">Sign Up</button>
          </div>


              </form>

            </div>
        </div>
</div>
